@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;800&family=Oswald:wght@600;700;800&family=Raleway:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    outline: none;
}

.section-title {
    text-align: center;
    color: #1A0B5B;
    font-size: 42px;

}

.container {
    width: 70%;
    margin: 0 auto;
}


/* nav start */
.navbar {
    background-color: #7E33E0;
}

.top-nav {
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .text {
    color: #F1F1F1;
    margin: 0 0 0 .6rem;
    font-size: 16px;
    line-height: 16px;

}

.gmail {
    margin-right: 16px !important;
}

.left-nav {
    display: flex;
    justify-items: center;
    align-items: center;

}

.icons {
    width: 16.13px;
    height: 14.67px;
}

.right-nav {
    display: flex;
    align-items: center;
}

select#language-select {
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    font-size: 16px;

}

select#currency {
    background-color: transparent;
    color: white;
    border: none;

    font-size: 16px;
}

select option {
    /* margin: 40px; */
    /* padding-top: 1rem; */
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.cart {
    margin-left: 15px;
}

/* menu start */
.menu {
    display: flex;
    justify-content: space-between;
    height: 55px;
    /* background-color: red; */
    align-items: center;
}

.menu-items {
    display: flex;
    justify-items: center;
    align-items: center;
}

.menu-items a {
    margin-right: 18px;
    font-size: 16px;
    font-weight: 400;
}



.logo {
    color: rgba(13, 14, 67, 1);
    margin-right: 30px;
    font-weight: 700;
}

.search-box {
    display: flex;
    align-items: center;

}

.search-box input {
    height: 40px;
    width: 300px;
    border-color: #F1F0FF;
    ;


}

.search-box img {
    background: rgba(251, 46, 134, 1);
    padding: 9.3px;
}

/* /slider */
.slider-container {
    background-color: #F2F0FF;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.swiper-slide .left-side {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;

    position: relative;
}

.swiper-slide .left-side .left-side-info {
    position: absolute;
    /* right: 50%; */
    left: 35%;
}

.swiper-slide .left-side .left-side-info h2 {
    font-family: 'Josefin Sans';
    font-size: 38px;
    /* line-height: 82px; */
    /* letter-spacing: 0.015em; */
    margin: 10px 0;
    color: #000000;
}

.swiper-slide .left-side .left-side-info .describe {
    color: #8A8FB9;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;

}

.shop-now {
    Width: 163px;
    Height: 50px;
    background: #FB2E86;
    border-radius: 2px;
    color: #fff;
    border: none;
    margin-top: 20px;
}

.highlight {
    color: #FB2E86;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;

}

.swiper-slide .left-side img {
    height: 300px;
    width: 300px;

    position: absolute;
    top: 0;
    left: 0px;
}

.right-side {
    position: relative;
}

.bg-shadow {
    position: absolute;
    width: 500px;
    width: 500px;
    left: 10%;
    top: 5%;
    z-index: 1;
}

.bg-shadow2 {
    position: absolute;
    width: 450px;
    height: 450px;
    left: 20%;
    top: 2%;
    z-index: 2;
}

.chair {
    z-index: 10;
    position: absolute;
    Width: 450px;
    Height: 440px;
    left: 17%;
    top: 10%;
}

.discount {

    position: absolute;
    Width: 90px;
    right: 20%;
    top: 5%;
    font-weight: 700;
}

.discount img {
    z-index: 12;
    position: absolute;
    Width: 100%;
}

.discount span {
    color: #fff;
    position: absolute;
    z-index: 15;
    top: 30px;
    left: 25px;

}

.banner {
    width: 100%;
    height: 500px;
}

span.swiper-pagination-bullet {
    background-color: transparent;
    width: 10px;
    height: 9.89px;
    border-radius: 0%;
    border: 3px solid #FB2E86;
    transform: rotate(50deg);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #FB2E86;
}

/* slider end */

/* featured-products start */
.featured-products {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    /* height: 350px; */
    /* border: 1px solid red; */
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 8px; */
}

.featured-products h1 {
    margin-bottom: 1.5rem;
}

.product {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px; */
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: relative;
}

/* .info {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    height: 100px;
} */

.single-product {

    /* width: 220px;  */
    height: 350px;
    border: 0.1px solid rgba(212, 192, 192, 0.24);
}


.product:hover {
    background-color: #2F1AC4;
    /* color: white !important; */
}

.product:hover .product-info-icons {
    display: block;
    display: flex;
}

.product:hover .view-details-button {
    display: block;
}

.product:hover .product-info {
    color: white !important;
}

/* 
.single-product:hover {
    color: white;
} */

.product-img {
    background-color: #F6F7FB;
    padding: 45px 0 40px 0;
    height: 255px;
    width: 100%;
    /* position: relative; */
}

.product-info-icons {
    /* display: flex; */
    position: absolute;
    top: 15px;
    left: 15px;
    display: none;
}

.product-info-icons img {
    width: 25px !important;
    height: 25px !important;
    padding: 3px;

}

.view-details-button {
    display: none;
}

.view-details-button button {
    width: 125px;
    height: 29px;
    background-color: #08D15F;
    padding: 8px 10px;
    border: none;
    color: white;
    position: absolute;

    bottom: 102px;
    left: 50px;

}




.product {
    padding-bottom: 28px;
}



.product-img img {
    width: 178px;
    height: 178px;

}

.single-product h5 {
    margin: 5px 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FB2E86;
}

.single-product small {
    font-size: 14px;
    color: #151875;
    font-weight: 600;
    line-height: 14px;
}

button.owl-prev {
    display: none !important;
}

button.owl-next {
    display: none !important;
}

button.owl-dot span {
    width: 21px !important;
    height: 5px !important;
    background-color: #FEBAD7 !important;

}

button.owl-dot.active span {
    width: 21px !important;
    height: 5px !important;
    background-color: #FB2E86 !important;
}

/* .product-info {
    color: #151875;
} */

/* feature slider */
/* .bulletpoint {
    height: 7px;
    width: 26px;
    border-radius: 25px;
    background: red;
} */

/* latest-products start */
.latest-products-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.latest-products-tabs button {
    background-color: transparent;
    color: #151875;
    border: none;
    margin: 10px;
}

.latest-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 33px;
}

.latest-product-img {
    background-color: #F7F7F7;
    ;
    width: 300px;
    height: 260px;
    display: flex;
    justify-content: center;
}

.latest-product-img img {
    width: 280px;
}

.latest-single-product {
    /* width: 30px; */
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
}

.latest-single-product:hover .latest-product-info-icons {
    display: block;
}

.latest-product-img:hover {
    background-color: white;
}

.sales-icon {
    position: absolute;
    top: 15px;
    left: 5px;
    width: 70px;
}

.latest-product-info-icons {
    position: absolute;
    left: 15px;
    bottom: 55px;
    display: none;

}

.latest-product-info-icons img {
    margin-top: 10px;
}

.latest-products-info {
    display: flex;
    justify-content: space-between;
    margin: 10px 3px;
}


.latest-products-info p {
    color: #151875;
    font-size: 16px;
}

.product-price {
    display: flex;

}

.product-price span {
    margin-left: 8px;
    font-size: 14px;

    /* color: #151875; */
}

.current-price {
    color: #151875;
}

.old-price {
    color: #FB2E86;
    text-decoration: line-through;
}

/* shopex */
.shopex {
    margin-top: 2rem;
    margin-bottom: 2rem;
}



.shopex-items {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.shopex-img {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopex-item {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 30px 10px;

}

.shopex-item h3 {
    font-size: 22px;
    color: #151875;
}

.shopex-item p {
    font-size: 16px;
    color: rgba(26, 11, 91, 0.3);
    line-height: 22px;
    margin-top: 10px;
}

/* unique-feature */
.unique-feature {
    background-color: #F1F0FF;

    height: 500px;
}

.unique-feature-container {
    display: flex;
    grid-template-columns: 1fr, 1fr;
}

.unique-img-group {
    position: relative;
    margin-top: 15px;
    width: 300px;
}

.unique-img-group img {
    /* position: absolute; */
    z-index: 50px;

}

.unique-feature-left {
    width: 500px;
}

.unique-img {
    width: 450px;
    height: 400px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.unique-bg-shadow {
    position: absolute;
    z-index: 5px;
}

.unique-feature-right {
    display: flex;
    height: 500px;
    align-items: center;
    margin-left: 190px;

}

.unique-feature-right h3 {
    font-size: 30px;
    color: #151875;
    letter-spacing: 0.015em;
}

.bullet1 {
    width: 15px;
    height: 15px;
    background-color: #F52B70;
    border-radius: 50%;
    margin-right: 14px;

}

.bullet2 {
    width: 20px;
    height: 15px;
    background-color: #2B2BF5;
    border-radius: 50%;
    margin-right: 14px;
}

.bullet3 {
    width: 15px;
    height: 15px;
    background-color: #2BF5CC;
    border-radius: 50%;
    margin-right: 14px;
}

.unique-info {
    display: flex;
    margin-top: 15px;
}

.unique-info p {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 1.5%;
    color: #ACABC3;
    ;
}

.unique-bg-shadow2 {
    position: absolute;
    z-index: 10px;
}

.add-to-cart {
    display: flex;
    align-items: center;
}

.add-to-cart-info {
    margin-top: 25px;
    margin-left: 20px;
}

.add-to-cart-info span {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #151875;
    font-weight: 600;
}


/* tranding-products */

.tranding-products {
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.tranding-products h3 {
    margin-bottom: 30px;
}

.tranding-products-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.tranding-single-products {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;


}

.tranding-products-img {
    background-color: #F5F6F8;
    display: flex;
    justify-content: center;
    margin: 10px;
    height: 200px;

}

.tranding-product-info {
    padding-bottom: 20px;
}

.tranding-product-info h4 {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #151875;
}

.tranding-products-price {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.tranding-products-price h6 {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-right: 10px;
    color: #151875;
}

.tranding-products-price p {
    text-decoration: line-through;
    color: #1518754D;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;

}

.tranding-products-img img {
    padding: 15px 0;

}

/* disconut */
.discont-section {
    display: grid;
    grid-template-columns: 1.8fr 1.8fr 1.5fr;
    height: 270px;
    gap: 20px;

}

.disconut-info {
    margin-top: 20px;
    margin-left: 20px;
}

.disconut-info h3 {
    font-weight: 600;
    font-size: 26px;
    line-height: 26px;
    color: #151875;
    margin-bottom: 10px;
}

.disconut-info a {
    color: #FB2E86;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-decoration: underline;

}

.discont-section .left-side {
    position: relative;
    background-color: #FFF6FB;
}

.middle-side {
    position: relative;
    background-color: #EEEFFB;
}

.discont-section .middle-side img {
    position: absolute;
    right: 10px;
    bottom: 10px;
}


.left-side img {
    position: absolute;
    right: 10px;
}



.right-side-discont {
    display: flex;
    align-items: center;

}

.right-side-middle {
    margin: 30px 0;
}

.right-side-img {
    height: 75px;
    width: 107px;
    background: #F5F6F8;
    margin-right: 10px;
    display: flex;
    justify-content: center;

}

.right-side-discount-info h3 {
    color: #151875;
    font-size: 16px;

}

.right-side-discount-info p {
    color: #151875;
    text-decoration: line-through;
    font-size: 12px;
}

/* footer */
footer {
    height: 479px;
    background-color: #EEEFFB;
    margin-top: 5rem;

}

.footer {

    display: grid;
    grid-template-columns: 2fr 1.2fr 1.1fr 1.1fr;
    /* margin-top: 5rem; */
    width: 80%;
    /* margin: ; */
    margin: 0 auto;
    /* margin-top: ; */
    padding-top: 3rem;
}

.footer-left h3 {
    font-size: 38px;
    font-weight: 800;
}

.footer-left input {
    height: 42px;
    width: 250px;
    margin-top: 1.4rem;
    border-color: transparent;
}

.footer-left button {
    width: 135px;
    height: 42px;
    color: #EEEFFB;
    background-color: #FB2E86;
    border: none;
    margin-left: -1rem;

}

.footer-left-info {
    margin-top: 1rem;
    color: #8A8FB9;
}

.footer-left-info p {
    line-height: 1.2rem;
    padding-right: 2rem;
}

.footer-middle1 h3 {
    font-size: 22px;
    line-height: 26px;
}

.footer-categories {
    margin-top: 2rem;
}

.footer-categories p {
    line-height: 2.3rem;
    color: #8A8FB9;
    font-size: 16px;
}

.copyright {
    height: 53px;
    background-color: #E7E4F8;
    display: flex;
    align-items: center;
}

.copyright-social-icon {
    display: flex;
    align-items: center;
}

.copyright-social-icon a {
    width: 19.42px;
    height: 19.42px;
    margin-left: 15px;
}

.copyright-right p {
    color: #9DA0AE;
    font-size: 16px;
}

.copyright-info {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
    align-items: center;
}


/*------------------------- responsive ------------------------*/
@media only screen and (min-width: 320px) and (max-width:480px) {
    .swiper-slide .left-side .left-side-info h2 {
        font-size: 1rem;
    }


    .swiper-slide .left-side img {
        width: 60%;
        height: 30%;
        margin-left: -18px;
    }

    .swiper-slide .right-side .discount {
        width: 35%;
        top: 3rem;
    }

    .swiper-slide .right-side .banner-group-img img {
        width: 80%;
        height: 40%;
        top: 5rem;
        /* border: 1px solid red; */
    }

    /* .swiper-slide .right-side .banner-group-img {
        top: 4rem;
    } */
    .featured-products h1 {
        font-size: 30px;
    }


}

@media only screen and (min-width: 481px) and (max-width:768px) {
    .swiper-slide .right-side .banner-group-img img {
        width: 70%;
        height: 60%;
        top: 3rem;
        /* border: 1px solid red; */
    }

    .swiper-slide .right-side .banner-group-img .chair {
        left: 20%;
        width: 68%;
        height: 55%;
        top: 3.5rem;
    }

    /* feature products */
    .featured-products h1 {
        font-size: 28px;
    }

    .featured-products .owl-carousel .item .single-product .view-details-button button {
        left: 14px;
    }

    .product-img {
        height: 240px;
    }
}

@media only screen and (min-width: 768px) and (max-width:1023px) {
    .swiper-slide .left-side .left-side-info h2 {
        font-size: 1.5rem;
    }

    .swiper-slide .left-side .left-side-info {
        margin-left: 1rem;
    }

    .swiper-slide .left-side .left-side-info button {
        width: 130px;
        height: 40px;
    }

    .swiper-slide .left-side img {
        left: 0;
        margin-left: -3rem;
        /* position: absolute; */
        /* border: 1px solid red; */
    }

    .swiper-slide .right-side .chair.bg-shadow.bg-shadow2 {
        width: 78%;
        height: 68%;
        top: 5rem;
        right: 5rem;
    }

    /* .swiper-slide .right-side .discount img {
        width: 100%;
        height: 100%;
        top: 3rem;
        border: 1px solid red;
    }*/
}

@media only screen and (min-width: 1024px) and (max-width:1200px) {
    .swiper-slide .left-side .left-side-info h2 {
        font-size: 1.5rem;
    }

    .swiper-slide .left-side .left-side-info {

        /* padding-left: 3rem; */
        margin-left: 1.8rem;
        /* border: 1px solid red; */
    }

    .swiper-slide .right-side .banner-group-img img {
        width: 70%;
        height: 70%;
        top: 3rem;
        /* border: 1px solid red; */
    }

    .swiper-slide .right-side .banner-group-img .chair {
        left: 20%;
        width: 67%;
    }
}



/* @media only screen and (min-width: 1201px) and (more extra large screen){} */